<html>

<head>
    <title>Torre</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/all.min.css" />
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="/css/torre.css" />
</head>

<body>

    {{#if isHome}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/torre">Torre</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item px-3">
        <a class="nav-link" href="/torre">Home</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="/torre/searchjobs?page=1&offset=0">Jobs</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="#">Employees</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="#">Stats</a>
      </li>
    </ul>
  </div>
    </nav>
    {{/if}}

    {{{body}}}


</body>

<!-- Footer 
<footer class="page-footer font-small blue">

    
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> Filmova</a>
    </div>
    

</footer>
<!-- Footer -->




<script language="javascript" src="/jquery.min.js"></script>
<script language="javascript" src="/js/bootstrap.min.js"></script>
<script language="javascript" src="/js/torre.js"></script>

</html>